@page "/LoginAspirante"
@using BolsaTrabajoSMA.Client.Auth;
@using BolsaTrabajoSMA.Shared.Models;
@using System.Text.Json;
@inject HttpClient client
@inject ILoginService loginService
@inject NavigationManager Navegador

<h3>Login</h3>

<EditForm Model="userInfo" OnValidSubmit="LoginUsuario">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Usuario:</label>
        <div>
            <InputText class="form-control" @bind-Value="userInfo.UserName" />
            <ValidationMessage For="@(() => userInfo.UserName)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Email:</label>
        <div>
            <InputText class="form-control" @bind-Value="userInfo.Email" />
            <ValidationMessage For="@(() => userInfo.Email)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Password:</label>
        <div>
            <InputText class="form-control" @bind-Value="userInfo.Password" />
            <ValidationMessage For="@(() => userInfo.Password)" />
        </div>
    </div>
    <div style="text-align:center">
        @* <h1>Bienvenido</h1>
        <h2 style="margin-bottom:1rem">Bolsa de Trabajo Ayuntamiento de San Miguel de Allende</h2> *@
        <img src="https://static.wixstatic.com/media/273ac6_b1d48677a607410c8031be1e5bd222e1~mv2.png/v1/fill/w_198,h_198,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/icono1.png" style="width:20rem;height:auto" />
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</EditForm>

@code {
    private UserInfo userInfo = new UserInfo();
    UserToken userToken = new UserToken();

    private async Task LoginUsuario()
    {
        var response = await client.PostAsJsonAsync("api/Cuentas/Login", userInfo);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            userToken = await response.Content.ReadFromJsonAsync<UserToken>();
            await loginService.Login(userToken.Token);
            Navegador.NavigateTo("/CVAspirante");
        }
    }
}